body {
    display:flex;
    flex-direction:column;
    align-items: center;
    color:lime;
    background-color: black;
    font-family: Consolas, sans-serif;
    margin:5vw;
}

a {
    color:white;
}

.player_buttons {
    display:flex;
    margin: 10px;
}

button:hover {
    background-color:yellow;
}

button:focus {
    background-color: green;
}

footer {
    margin-top:5vw;
}