body {
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align:center;
    color:#fff;
    background-color: #5fb49c;
    font-family: Consolas, sans-serif;
    margin:5vw;
}

body * {
    width: 60vw;
}

h1, h2, h3 {
    color: #98dfaf;
}

a {
    color:white;
}

.player_buttons {
    display:flex;
    margin: 10px;
}

button {
    cursor: pointer;
}

button:hover {
    background-color:#deefb7;
}

button:focus {
    background-color: #ca895f;
}

#topbar {
    background-color: #75c7b0;
}

#results {
    background-color: #49998e;
}

#outcome {
    background-color: #3f8c8a;
}

#gameOver {
    background-color: #407d97;
}

footer {
    bottom:3vh;
    position: fixed;
}